{% extends 'www/base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block pagetitle %}
	{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
{% endblock pagetitle %}

{% block pagelevel_meta %}
    {% include 'pages/partials/_wagtail_page_level_meta.html' %}
{% endblock pagelevel_meta %}

{% block css %}
	{{ block.super }}
	{% compress css %}
	<link rel="stylesheet" href="{% static 'www/scss/article.scss' %}" type="text/x-scss"/>
	<link rel="stylesheet" href="{% static 'creditcards/scss/custom.scss' %}" type="text/x-scss" media="screen" />
	{% endcompress %}
{% endblock css %}


{% block body_class_name %}{{ block.super }} personal-finance credit-cards{% endblock %}



{% block main_body_content %}
	<section class="main-content-section" id="main-content">
		{% block page_content %}{% endblock page_content %}
	</section>
{% endblock main_body_content %}

{% block last_js %}
	{{ block.super }}
	<script>
	$(document).ready(function(){
		$("[data-toggle]").click(function(){
			var target_selector = $(this).data('toggle') || '[data-toggletarget]',
				block = $(this).parents('[data-toggleblock]')
				target = block.children(target_selector),
				trigger = $(target).data('trigger');
			if (!trigger) {
				trigger = this
				$(target).data('trigger', trigger);
			}
			$(target).slideToggle(400, function () {
				$(block).toggleClass('collapsed');
			});
			$(trigger).toggle();
		});
	});
	</script>
{% endblock last_js %}
